{% extends "layout.html" %}
{%block body%}
    <p style="color:wheat;text-align: center;">[*] Your Google Email And Password Needed For This Feature.</p>
    <p style="color:wheat;text-align: center;">[*] This tool will not save/steal/share or do any other kind of harm to your account. </p>
    <p style="color:wheat;text-align: center;">[*] You can create a new Google Mail. You don't have to use your real mail account.</p>
    <p style="color:wheat;text-align: center;">[*]This project is an opensource project. If you have any doubts, please check all the codes.</p>
    <p style="color:gray;text-align: center;">[?] This feature will try to find the owner of phone number:{{phone_number}}</p>
    <div class="commandLine">
        <form method="POST">
            <hr style="color:white">
            <p style="margin:0;color:blue;text-align: center;">~Enter Your Google Email~</p>
            <p style="display:inline;color:yellow">#></p>
            <input class="in" id="email" name="email">
            <hr style="color:white">
            <p style="margin:0;color:blue;text-align: center;">~Enter Your Google Password~</p>
            <p style="display:inline;color:yellow">#></p>
            <input class="in" id="password" name="password" type="password">
            <hr style="color:white">

            <br><br>
            <input type="submit" value="Continue" style="font-family: 'VT323', monospace;font-size:24px;padding:12px;width:100%;color:white;background-color:black;border:1px solid white;border-radius:5px;">

        </form>
        
    </div>
    <br><br>
    
{%endblock%}