{% extends "layout.html" %}
{%block body%}
<div class="commandLine">
    <form method="POST">
    <hr style="color:white">
    <p style="margin:0;color:blue;text-align: center;">~Moriarty-Project~</p>
    
    <p style="display:inline;color:yellow">#></p>
    <input class="in" id="in" name="in">
    <hr style="color:white">
    </form>
    
</div>
    <p style="color:goldenrod;text-align: center;">[+] GetLinks Added Successfully.</p>
    <p style="color:gray;text-align: center;">[?] This feature will try to find the links related with Phone Number:{{phone_number}}</p>
    <br><br>
    
{%endblock%}