{% extends "layout.html" %}
{%block body%}
<div class="commandLine">
    <form method="POST">
    <hr style="color:white">
    <p style="margin:0;color:blue;text-align: center;">~Moriarty-Project~</p>
    
    <p style="display:inline;color:yellow">#></p>
    <input class="in" id="in" name="in">
    <hr style="color:white">
    </form>
    
</div>
    <p style="color:whitesmoke;text-align: center;">Help - Moriarty Project</p>
    <p style="color:whitesmoke;text-align: center;margin: 0;">run</p>
    <p style="color:whitesmoke;margin:0;text-align: center;">|Use this to run the features you selected|</p>
    <br>
    <p style="color:whitesmoke;text-align: center;margin: 0;">add feature *</p>
    <p style="color:whitesmoke;margin:0;text-align: center;">|Use this to add all features without wasting time|</p>
    <br>
    <p style="color:whitesmoke;text-align: center;margin: 0;">show options</p>
    <p style="color:whitesmoke;margin:0;text-align: center;">|Use this to see the options you've issued|</p>
    <br>
    <p style="color:whitesmoke;text-align: center;margin: 0;">add PhoneNumber 'PhoneNumber' </p>
    <p style="color:whitesmoke;margin:0;text-align: center;">|Use this to specify a phone number|</p>
    <br>
    <hr style="width: 30%;">
    <p style="color:whitesmoke;text-align: center;margin:0;">add feature FindOwner</p>
    <p style="color:whitesmoke;margin:0;text-align: center;">|This feature tries to find the owner of Phone Number|</p>
    <br>
    <hr style="width: 30%;">
    <p style="color:whitesmoke;text-align: center;margin:0;">add feature SocialMedia</p>
    <p style="color:whitesmoke;margin:0;text-align: center;">|This feature tries to find the social media platforms connected with phone number|</p>
    <br>
    <hr style="width: 30%;">
    <p style="color:whitesmoke;text-align: center;margin:0;">add feature GetLinks</p>
    <p style="color:whitesmoke;margin:0;text-align: center;">|This feature gets related links with the phone number|</p>
    <br>
    <hr style="width: 30%;">
    <p style="color:whitesmoke;text-align: center;margin:0;">add feature SpamRisk</p>
    <p style="color:whitesmoke;margin:0;text-align: center;">|This feature tells you if the phone number is in spam database|</p>
    <br>
    <hr style="width: 30%;">
    <p style="color:whitesmoke;text-align: center;margin:0;">add feature GetComments</p>
    <p style="color:whitesmoke;margin:0;text-align: center;">|This feature tries to find comments that's been made about the phone number|</p>
    
    <br>
    
{%endblock%}