{% extends "layout.html" %}
{%block body%}
    <hr style="color:white">
    <p style="color:wheat;text-align: center;font-size: 25px;">Invalid Phone Number</p>
    <p style="color:red;display: inline;font-size: 22px;">[-]You didn't type a correct phone number!</p><br>
    <p style="color:purple;display: inline;font-size: 22px;">[!]Please try again with a correct type of phonen number.</p><br>
    <p style="color:gray;display: inline;font-size: 22px;">[*]Exiting From Moriarty...</p><br>
   

    
{%endblock%}