{% extends "layout.html" %}
{%block body%}
<div class="commandLine">
    <form method="POST">
    <hr style="color:white">
    <p style="margin:0;color:blue;text-align: center;">~Moriarty-Project~</p>
    
    <p style="display:inline;color:yellow">#></p>
    <input class="in" id="in" name="in">
    <hr style="color:white">
    </form>
    
</div>
    <p style="color:goldenrod;text-align: center;">Options</p>
    <table style="width:100%">    <p style="color:lawngreen;text-align: center;">Phone Number:{{phone_number}}</p>
    <p style="color:lawngreen;text-align: center;">FindOwner:{{find_owner}}</p>
    <p style="color:lawngreen;text-align: center;">Social Media:{{social_media}}</p>
    <p style="color:lawngreen;text-align: center;">GetLinks:{{get_links}}</p>
    <p style="color:lawngreen;text-align: center;">SpamRisk:{{spam_risk}}</p>
    <p style="color:lawngreen;text-align: center;">GetComments:{{get_comments}}</p>

    </table>

    <br><br>
    
{%endblock%}